venv/
__pycache__/
*.pyc
*.pyo

# 이미지 파일 제외
resources/images/
*.jpg
*.jpeg
*.png
*.gif

# 오디오 파일 제외
resources/audio/
*.mp3
*.wav
*.ogg
*.m4a

# macOS 시스템 파일
.DS_Store
.AppleDouble
.LSOverride

# VS Code 핸들러 파일
.vscode

# PyCharm 핸들러 및 설정 파일
.idea
*.iml

